.cabecalho {
    background-color: violet;
    color:black;
}

.menu {
    background-color: white;
    font-size: xx-large;
    color: black;
}


.rodape {
    background-color: violet;
    color: black;
}